
.ssn_order_main_div{
    width: 1120px;
    margin: 80px auto;
}
 .ssn_table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #282828;
    background-color: #181818;
 }

 .ssn_table> thead tr th  {
    border: 1px solid #282828;
    color: #888888;
    padding: 8px;
    /* padding-right: 5px; */
}
.ssn_table> tbody tr td {
     /* padding-right: 5px; */
     font-size: .9em;
     border: 1px solid #282828;
    color: #888888;
    padding:  3px;
    padding-bottom: 20px;
 }


 /* ssn buy input table  */

 .ssn_input_table_main_div{
     width: 1120px;
     margin: -30px auto;
 }
.ssn_input_table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #282828;
    background-color: #181818;
}

.ssn_input_table> thead tr th  {
    border: 1px solid #282828;
    color: #888888;
    padding: 8px;
    /* padding-right: 5px; */
}
.ssn_input_table> tbody tr td {
     /* padding-right: 5px; */
     font-size: .9em;
     border: 1px solid #282828;
    color: #888888;
    padding:  3px;
    padding-bottom: 20px;
 }
 .ssn{
     width: 365px;
     list-style: none;
     background-color: black;

 }
 
.ssn1{
    width: 365px;
    margin-top: -10px;
}
.ssn_inp{
    width: 270px !important;
    border-radius: 4px;
    border: none;
    outline: none;
}
.ssn_inp:focus{
    box-shadow: 0px 0px 10px rgb(111, 111, 202);
  }
.srch_btn_li{
    display: flex;
    justify-content: flex-end;
}

.ssn_search>p{
    margin-top: 100px;
    background-color: #77b300 !important;
    border-color: #77b300;

}


 @media screen and  (max-width:1125px ){
    .ssn_order_main_div{
        width: 940px;
    }
    .ssn_input_table_main_div{
        width: 95%;
        overflow-x: scroll;
    }
} 
@media screen and (max-width:990px){
    .ssn_order_main_div{
        width: 730px;
    }
}
@media screen and (max-width:765px){
    .ssn_order_main_div{
        width: 95%;
    }
}
@media screen and (max-width:765px){
    .ssn_order_main_div{
        overflow-x: scroll;
        width: 95%;
    }
    .ssn_table{
        width: 700px;
    }
}